/*HTML Elements*/
/*{border:1px solid grey;}
*{margin: 0; padding: 0;}*/
	
body, h1, h3, p{
	font-family: Times New Roman, Times;
	font-size: normal;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('assets/img/bg9.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 105%;
}

h3 {
	font-family: Verdana, Helvetica;
	padding: 20px 0;
}

p {
	padding-bottom: 10px;
}

a, a:hover {
	color: transparent;
	text-decoration: none;
}

/*Class Elements*/
.box-bg {
	color: White;
	background: rgba(0, 0, 0, 0.3);
	background-image: url('assets/img/grey.png'); /*for IE8 and under*/
	box-shadow: 0 8px 6px -6px black;
}

.box-in-col {
	margin: 10px 15px;
}

.event {
	font-family: Verdana, Helvetica;
	font-size: 14px;
	width: 100%;
}
.date {
	color: LightGrey;
	font-weight: bold;
}
.title {
	font-family: Times New Roman, Times;
	font-size: 16px;
}
.place {
	color: DimGrey;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
.info {
	color: DarkGrey;
	font-family: Times New Roman, Times;
	/*text-decoration: underline;*/
	float: right;
}
.info:hover {
	color: Lavender;
}
.detail {
	color: DarkGrey;
	font-size: 14px;
	border-right: 1px dotted DarkGrey;
	padding: 0 5px 0 15px;
	margin: 0 10px 15px 0;
}

.name {
	font-family: Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
}
.contact {
	font-size: 14px;
	margin-left: 15px; 
}

/*Page Elemets*/
#header {
	width: 92%;
	display: block;
	margin: 0 auto;
	position: relative;
}
#header #logo {
	display: block;
	margin: 25px auto;
}
#header #icon-right {
	position: absolute;
	right: -1px;
	bottom: 0;
}
#header #icon-left {
	position: absolute;
	right: 35px;
	bottom: 0;
}

#menu {
	color: #CCC;
	background-color: White;
	border-bottom: 1px dotted lightgrey;
	width: 100%;
	height: 15px;
	position: fixed;
	top: 0;
	z-index: 10;
	display: none;
}
#menu a {margin-right: 2%;}
#menu a, #menu a:hover, #menu a:visited {
	color: #AAA;
	font-family: Verdana, Helvetica;
	font-size: 16px;
	font-weight: bold;
}

#content {
	width: 100%; 
	position: relative;
}
#content a {
	color: Grey;
}
#content a:hover {
	color: Lavender;
}

#col-left {
	width: 30%; 
	position: absolute; 
	top: 0; 
	left: 4%;
}

#col-right {
	width: 30%; 
	position: absolute; 
	top: 0; 
	right: 4%;
}

#col-center {
	margin: 0 35%;
	padding-top: 30px;
	padding-bottom: 15px;
}
#col-center div img, #col-center audio {
	width: 100%;
}
#title li {
	text-shadow: 0 0 0.1em #343434;
	line-height: 1.5;
	margin-left: 8px;
}
#title li:hover {
	text-shadow: 0 0 0.6em #787878;
}

#footer {
	color: Dimgrey;
	text-align: center;
	font-size: 72%;
	height: 25px;
	padding: 10px;
}


/*Media Query*/
@media screen and (max-width: 960px) {
	#header {
		width: 98%;
	}
	#col-center {
		margin: 0 34%;
	}
	#col-left {
		line-height: 1.2;
		width: 32%;
		left: 1%;
	}
	#col-right {
		width: 32%;
		right: 1%;
	}
}
@media screen and (max-width: 800px) {
	body { 
		background-image: url('assets/img/bg9_1.jpg'), url('assets/img/bg9_2.jpg'), url('assets/img/bg9_3.jpg');
		background-position: left top, left center, right bottom;
		background-repeat: no-repeat;
		background-size: 30%, 50%, 45%;
	}
	
	#header {
		max-width: 360px;
	}
	#header #logo {
		width: 100%;
		margin-bottom: 10px;
	}
	#header #icon-right {
		right: -38px;
		bottom: -50px;
	}
	#header #icon-left {
		right: -38px;
		bottom: -88px;
	}
	
	#menu {
		display: block;
	}
	
	#col-left, #col-center, #col-right {
		max-width: 360px;
		width: 90%;
		dispaly: block;
		margin: 0 auto 5px auto;
		padding-bottom: 15px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
	}
}
@media screen and (max-width: 480px) {
	#header, #col-left, #col-center, #col-right {
		min-width: 240px;
		width: 90%;
	}
	#header #logo { 	 	
		width: 75%;
		margin-left: 0;
	}
	#header #icon-right {
		right: 0;
		bottom: 0;
	}
	#header #icon-left {
		right: 35px;
		bottom: 0;
	}
}
@media screen and (max-width: 320px) {
	#header, #col-left, #col-center, #col-right {		
		width: 96%;
	}
}