/*HTML Elements*/
/* {
	margin: 0;
	padding: 0;
}*/

body {
	background-color: #FFFS;
	/*background-image: url('assets/img/chairandguiter.png'), url('assets/img/bg.jpg');
	background-position: center bottom, center top;
	background-repeat: no-repeat;
	background-size: 60%, cover;*/
	
	background-image: url('assets/img/bg8.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	
	font-family: Times New Roman, Times;
	margin: 0px;
}

h1, h3{
	font-family: Verdana, Helvetica;
}

a {
	color: Grey;
}
a:hover {
	color: Lavender;
}


/*Class Elements*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

.header {
	color: Black;
	min-width: 280px;
	padding-top: 15px;
}
.header img{
	display: block;
	margin: 0px auto;
}

.content {	 	
	color: White; 	
	display: block;
	margin: 0px auto;
}

.youtube-vedio{
	font-family: Verdana, Helvetica;
	font-size: 90%;
	font-weight: bold;
}

.fb-box-custom {
	height: 300px;
	padding: 1px;
	overflow: hidden;
}

.footer {
	text-align: center;
	height: 30px;
}

/*Page Elemets*/
#intro, #player, #events{
	background: rgba(0, 0, 0, 0.9);
	box-shadow: 0 8px 6px -6px black;
	margin-bottom: 15px;
	padding: 15px;
	
	width: 280px;
	/*max-width: 360px;*/
	min-width: 200px;
	display: inline-block;
	vertical-align: top;
} 

#player {
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 65px;
}

#player div img {
	width: 100%;
	/*border: black solid 15px;*/
}
#player audio {
	width: 100%;
}
#player video {
	width: 300px;
	height: 150px;
}

#title li {
	text-shadow: 0 0 0.1em #343434;
	line-height: 1.5;
	margin-left: 8px;
}
#title li:hover {
	text-shadow: 0 0 0.6em #787878;
}

@media screen and (max-width: 1024px) {
	.center {
		width: 769px;
	}
	#intro, #player, #events {
		width: 220px;
	}
}

@media screen and (max-width: 800px) {
	body { 
		background-size: 100%;
		background-position: center bottom;
	}
	.center {
		width: 390px;
	}
	#intro, #player, #events{
		width: 360px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 460px) {
	.header img{
		width: 102%;
	}
	.center {
		width: 90%;
	}
	#intro, #player, #events{
		width: 90%;
	}
}

@media screen and (max-width: 320px) {
	.header img{
		width: 100%;
	}
	.center {
		width: 270px;
	}
	#intro, #player, #events{
		width: 240px;
	}
}